
body{
    background-color: #C0C0C0;
}

h5{
    margin-top: 8px;
}

h6{
    color: #c0c0c0;
}
.post{
    background-color: #fff;
    margin: 30px
}
.navbar-light .navbar-brand{
    margin: 0 64px;
}

.navbar-expand-md .navbar-collapse {
    margin: 0 64px;
}

.fa-instagram{
  color: #949394 !Important;
  display: flex;
  font-size: 25px;
  flex-flow: row wrap;
  gap: 6px !important;
}

.btn-primary{  
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.btn-primary:hover {
    color: #28a745;
    background-color: transparent;
    border-color: #28a745;
}

.btn-secondary:hover{
    color:#6c757d;
    background-color: transparent;
    border-color: #6c757d;
}

.fa-heart{
    font-size: 20px;
    padding-right: 15px;
    color: #c0c0c0;
}

.icons{
    margin-right: auto !important;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
}